In [14]:
import pandas as pd

data = pd.read_csv('jobs_sample.csv', index_col=0)
print(len(data))
data = data.dropna()
print(len(data))

20000
15263

In [15]:
data.head()

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Responsibilities,Company,Sector,Industry,City,State,Zip,Website,Ticker,CEO
202217,2329485357093600,2 to 8 Years,BBA,$64K-$117K,Pristina,Kosovo,42.6026,20.9030,Temporary,133363,...,"Oversee the customer support team, including h...",Derwent London,Real Estate,Real Estate/REIT,London,England,W1G 0PW,https://www.derwentlondon.com/,DLN,Paul Williams
357636,2413588532843745,4 to 14 Years,PhD,$57K-$98K,Bern,Switzerland,46.8182,8.2275,Intern,69176,...,"Identify and qualify sales leads, conduct sale...",Discover Financial Services,Financial Services,Commercial Banks,Riverwoods,Illinois,60015,www.discover.com,DFS,Roger C. Hochschild
334165,2853106964652580,4 to 10 Years,B.Tech,$65K-$130K,N'Djamena,Chad,15.4542,18.7322,Contract,45076,...,Manage sales accounts and ensure revenue growt...,Ryder System,Transportation,Transportation and Logistics,Miami,Florida,33178,www.ryder.com,R,Robert E. Sanchez
525739,3029827368083194,4 to 15 Years,MCA,$55K-$87K,Nairobi,Kenya,-1.2864,36.8172,Full-Time,61435,...,Assist individuals and families with personal ...,Macy's,Retail,General Merchandisers,New York,New York,10001,www.macysinc.com,M,Jeffrey Gennette
830220,875834340093462,0 to 11 Years,B.Tech,$55K-$100K,Roseau,Dominica,15.4149,-61.3705,Contract,100929,...,Focus on developing Java-based web application...,Tata Consultancy Services (TCS),Information Technology,Information Technology and Services,Mumbai,Maharashtra,400001,www.tcs.com,TCS,Rajesh Gopinathan

In [19]:
company = data.iloc[:, 21:]
company.head()
print(len(company))
companies = company["Company"].unique()
print(len(companies))
company2 = company.drop_duplicates()
print(len(company2))
company.drop_duplicates(subset ="Company", inplace = True)
print(len(company))

15263
680
680
680